body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    background: #fafafa;
    color: #222;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto; 
}

article {
    flex: 2;
    overflow-y: auto; 
    padding: 10px;
}

article h1, article h2, article h3 {
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

article p {
    line-height: 1.8;
}

aside {
    flex: 1;
    overflow-y: auto; 
    padding: 10px;
}

header, footer {
    padding: 10px;
    background: #f4f4f4;
}

header ul li a {
    color: black;   
}

footer {
    background: #f4f4f4;  
    color: black;       
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.logo {
    font-size: 2rem;  
    margin-right: 20px;
    color: goldenrod;
}

a {
    color: #0066cc;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}
